<nav class="navbar  navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav me-auto mb-2 mb-lg-0 margenesleft mt-2">
          <li class="nav-item"><i class="fa-solid fa-bars logo fa-xl mt-2"></i></li>
          <li class="nav-item">
             <img  src="../../../assets/img/Group 123.svg"  class="mt-2">
             
          </li>
          <li class="nav-item">
            <div class="barrita ms-3 mt-1"></div>
            
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" ><p>Plan Financiero Digital - FPX</p></a>
          </li>

        </ul>

        <ul class="navbar-nav justify-content-end margenesriht">
            <li class="nav-item">
                <a class="nav-link"> <img src=".../../../../../assets/img/Happy.svg" class="me-2"> <small class="items">Tu Financial Planner</small></a>
              </li>

            <li class="nav-item">
              <a class="nav-link"><img src=".../../../../../assets/img/hand3.svg" class="me-2"><small class="items">Aportes</small></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><img src=".../../../../../assets/img/comp faq.svg" class="me-2"></a> 
            </li>
          </ul>

        </div>

      </div>

  </nav>


  